html, body {
    background-color: #fff;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:#202214;
}

#top-nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 100px;
    justify-content: flex-start;
    margin-left: 20px;
    vertical-align: middle;
}

#search-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#search-outline:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.5);
}

#search-outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 690px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    margin-left: 40px;
}

p {
    font-size: 14px;
    color:#4d5156;
    margin-bottom: 0px;
    margin-top: 3px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

#magnify {
    opacity: 0.5;
    width: 25px;
    height: 25px;
    padding-left: 15px;
}

#voice-search {
    opacity: 0.5;
    width: 25px;
    height: 25px;
    padding-left: 15px;
}

#google-search {
    border: none;
    height: 35px;
    width: 81%;
}

#google-search:focus {
    outline: none;
}

#top-right-nav {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#apps-icon {
    padding: 10px 10px 10px 10px;
    opacity: 0.75;
    height: 25px 0px;
}

#apps-icon:hover {
    background-color:rgb(187, 187, 187, 0.5);
    border-radius: 50%;
    }

button {
    background-color: #f8f9fa;
    border:1px solid #f8f9fa;
    border-radius: 5px;
    outline: 0px;
    min-width: 54px;
    height: 36px;
    padding: 0px 16px;
    color: #222;
    font-weight: 300;
    }


#sign-in{
    color: #fff;
    width: 100px;
    background-color: #1a73e8;
    margin: 0px 0px 0px 10px;
}

#sign-in a {    
    color: #fff;
    text-decoration: none;
}

#sign-in a:hover {
    color:#fff;
    text-decoration: none;
}

#sign-in:hover {
    background-color: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.5);
}

#top-navbar-two {
    display:flex;
    flex-direction: row;
    height: 55px;
    width: 100%;
    border-bottom: 0.5px solid rgb(187, 187, 187, 0.5);
}

#nav-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-left: 170px;
}

.top-nav-links {
    padding: 12px;
    color: #5f6368;
    text-decoration: none;
    font-size: 14px;
}

#current-link {
    border-bottom: 3px solid #1a73e8;
    padding-left:0px;
}

.options-icons {
    opacity:0.6;
    align-self: center;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

#nav-options-two {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 50px;
}

.top-nav-links-two {
    padding-bottom: 14px;
}

#results {
    display: flex;
    justify-content: flex-start;
    padding-bottom:5px;
}

#results p {
    color:#5f6368;
    font-size: 14px;
    margin-left: 170px;
    margin-bottom: 10px;
}

.article {
    margin-left: 170px;
    font-family:
}

h1 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom:0px;
}

.ad {
    font-weight: bold;
    color: #202214;
}

#ad-link {
    margin-top: 7px;
}

h1 a, #ad-link a {
    color:#1a0dab;
}

h1 a:hover {
    text-decoration: underline;
}

#people-also-ask {
    margin-left:170px;
    margin-bottom: 20px;
}

h2 {
    color: #202214;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0px;
    width: 600px;
    padding-bottom: 8px;
    border-bottom: 0.5px solid #4d515675;
}

.people-ask-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-bottom: 0.5px solid #4d515675;
    margin: 0px 0px 16px 0px;
    width: 600px;
    padding-bottom: 8px;
}

.expand-icon{
    opacity: 0.75;
}